{% extends "plantilla.twig" %}
{% block titulo %} {{ 'menu.op4.4' | trans }} {% endblock %}

{% block contenido %}
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 paddingIzqCero paddingDerCero parallax-1 slide-tour">
                <!--<img src="{ asset('imagenes/tour-slide.jpg') }}" class="img-responsive">-->
                <img src="{{ asset('imagenes/pleca-rojo.png') }}" class="img-responsive imagenSliderContact">
            </div>
        </div>
        {% set tituloPagina = ('menu.op4.4' | trans) %}
        {% include 'estructura/titulo.twig' %}
        <div class="row letraGrisMedio cuadroParrafo">
            <div class="col-sm-10 col-sm-offset-1">
                <p>
                    {{ ('tours.parrafo') | trans }}
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12 paddingIzqCero paddingDerCero">
                <div class="panel-group fondoRojo panelGrupoTours" id="accordion" role="tablist" aria-multiselectable="true">
                    {% set tott = ('tours.0') | trans %}
                    {% for i in range(1,tott) %}
                        <div class="panel panelTours">
                            <div class="panel-heading fondoRojo" role="tab" id="seccion{{ i }}">
                                    <a class=" linkSeccionTour
                                                {% if i != 1 %}
                                                    collapsed
                                                {% endif %}
                                             "
                                       role="button" data-toggle="collapse" data-parent="#accordion"
                                       href="#contenido{{ i }}" aria-expanded="false" aria-controls="contenido{{ i }}">
                                        <h3 class="panel-title text-center letraBlanca tituloSeccionTour">
                                            {{ ('tours.'~i~'.nombre') | trans }}
                                        </h3>
                                    </a>
                            </div>
                            <div id="contenido{{ i }}"
                                 class="panel-collapse fondoGrisClaro collapse
                                        {% if i == 1 %}
                                              in
                                        {% endif %}
                                        "
                                 role="tabpanel"
                                 aria-labelledby="seccion{{ i }}">
                                <div class="panel-body">
                                    {% set tots = ('tours.'~i~'.sitios.0') | trans %}
                                    {% for m in range(1,tots) %}
                                        <div class="row cuadroImagenInfo">
                                            <div class="col-sm-10 col-sm-offset-1 fondoAzul">
                                                <div class="row">
                                                    <div class="col-sm-7 paddingIzqCero">
                                                        <img src="{{ asset('imagenes/tours/'~('tours.'~i~'.sitios.'~m~'.imagen') | trans ) }}" class="img-responsive">

                                                    </div>
                                                    <div class="col-sm-5 letraBlanca contInfoPack">
                                                        <div class="row">
                                                            <div class="col-sm-12 text-right">
                                                                <h4><b>{{ ('tours.'~i~'.sitios.'~m~'.nombre') | trans }}</b></h4>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-12 contParrafoPack">
                                                                <p class="text-justify">
                                                                    {{ ('tours.'~i~'.sitios.'~m~'.texto') | trans }}
                                                                </p>
                                                            </div>
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-sm-4 col-sm-offset-8">
                                                                {% set link = ('tours.'~i~'.sitios.'~m~'.link') | trans  %}
                                                                <a id="verMas" class="btn botonEncuentralos letraBlanca" href="{{ path(link) }}"><b>{{ ('more') | trans }}</b></a>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}