{% extends "plantilla.twig" %}

{% block contenido %}
    <div class="container-fluid">
        <div class="row filaSliderContacto">
            <div class="col-sm-12 paddingIzqCero paddingDerCero sliderContacto">
                    <img src="{{ asset('imagenes/pleca-azul.png') }}" class="img-responsive imagenSliderContact">
            </div>
        </div>
        <div class="row fondoGrisClaro filaLogoContact">
            <div class="col-sm-2 col-sm-offset-1">
                <img src="{{ asset('imagenes/icono-azul-cancun.png') }}" class="img-responsive">
            </div>
            <div class="col-sm-9 filaContactTitulo">
                <span class="letraTitulo">{{ 'menu5' | trans }}</span>
            </div>
        </div>
        <div class="row fondoGrisClaro filaTelFormContact">
            <div class="col-sm-5 col-sm-offset-1">
                <span class="letraSubtitulo">{{ 'contactMasInfo' | trans }}</span>
                <br>
                <span class="letraServiciosCont letraGrisClaro2">{{ 'contactFree' | trans }}</span>
                <br>
                <b><a href="tel:011529982511371" class="linkTelContact letraGrisOscuro">011 52 (998) 251 1371</a></b>
                <br>
                <b><a href="tel:011529988475490" class="linkTelContact letraGrisOscuro">011 52 (998) 847 5490</a></b>

            </div>
            <div class="col-sm-5">
                <form role="form" id="frmcontacto2" class="formularioContac">
                    <div class="form-group">
                        <label for="departamento"><b>{{ 'contactForm1' | trans }}</b></label>
                        <select class="form-control fondoGrisClaro" id="departamento">
                            <option value="1">{{ 'contactSelect1' | trans }}</option>
                            <option value="2">{{ 'contactSelect2' | trans }}</option>
                            <option value="3">{{ 'contactSelect3' | trans }}</option>
                            <option value="4">{{ 'contactSelect4' | trans }}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="nombre"><b>{{ 'formCampo1' | trans }}</b></label>
                        <input type="text" class="form-control validacontacto fondoGrisClaro" id="nombre" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="email"><b>{{ 'formCampo3' | trans }}</b></label>
                        <input type="email" class="form-control fondoGrisClaro" id="correo" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="telefono"><b>{{ 'formCampo2' | trans }}</b></label>
                        <input type="text" class="form-control fondoGrisClaro" id="telefono" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="telefono"><b>{{ 'formCampo5' | trans }}</b></label>
                        <textarea class="form-control fondoGrisClaro" rows="3" id="comentarios" placeholder=""></textarea>
                    </div>
                    <button type="submit" id="enviarFormulario" class="btn botonEncuentralos letraBlanca center-block"><b>{{ 'formEnviar' | trans }}</b></button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}