{% extends "plantilla.twig" %}
{% block titulo %} {{ 'menu.op5' | trans }} {%  endblock %}

{% block contenido %}
    <div class="container-fluid fondoGrisClaro">
        <div class="row">
            <div class="col-sm-12 paddingIzqCero paddingDerCero parallax-1 slide-contacto">
                    <!--<img src="{ asset('imagenes/contact-slide.jpg') }}" class="img-responsive">-->
                    <img src="{{ asset('imagenes/pleca-azul.png') }}" class="img-responsive imagenSliderContact">
            </div>
        </div>
        {% set tituloPagina = ('menu.op5' | trans) %}
        {% include 'estructura/titulo.twig' %}
        <div class="row fondoGrisClaro filaTelFormContact">
            <div class="col-sm-5 col-sm-offset-1">
                <span class="letraSubtitulo">{{ 'contactMasInfo' | trans }}</span>
                <br>
                <span class="letraServiciosCont letraGrisClaro2">{{ 'contactFree' | trans }}</span>
                <br>
                <b><a href="tel:011529982511371" class="linkTelContact letraGrisMedio2">011 52 (998) 251 1371</a></b>
                <br>
                <b><a href="tel:011529988475490" class="linkTelContact letraGrisMedio2">011 52 (998) 847 5490</a></b>

            </div>
            <div class="col-sm-5">
                <form role="form" id="frmContacto" class="formularioContac">
                    <div class="form-group">
                        <label for="departamento"><b>{{ 'formContact.titulo' | trans }}</b></label>
                        <select class="form-control fondoGrisClaro" id="departamento">
                            <option value="1">{{ 'formContact.op1' | trans }}</option>
                            <option value="2">{{ 'formContact.op2' | trans }}</option>
                            <option value="3">{{ 'formContact.op3' | trans }}</option>
                            <option value="4">{{ 'formContact.op4' | trans }}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="nombre"><b>{{ 'formIndex.campo1' | trans }}</b></label>
                        <input type="text" class="form-control validacontacto fondoGrisClaro" id="nombre" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="email"><b>{{ 'formIndex.campo3' | trans }}</b></label>
                        <input type="email" class="form-control fondoGrisClaro" id="correo" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="telefono"><b>{{ 'formIndex.campo2' | trans }}</b></label>
                        <input type="text" class="form-control fondoGrisClaro" id="telefono" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="telefono"><b>{{ 'formIndex.campo5' | trans }}</b></label>
                        <textarea class="form-control fondoGrisClaro" rows="3" id="comentarios" placeholder=""></textarea>
                    </div>
                    <button type="submit" id="enviarFormulario" class="btn botonEncuentralos letraBlanca center-block"><b>{{ 'formIndex.enviar' | trans }}</b></button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}