{% extends "plantilla.twig" %}
{% block titulo %} {{ 'menu.op4.2' | trans }} {%  endblock %}

{% block contenido %}
    <div class="container-fluid">
        <div class="row filaSliderContacto">
            <div class="col-sm-12 paddingIzqCero paddingDerCero">
                <img src="{{ asset('imagenes/dmc-slide.jpg') }}" class="img-responsive">
                <img src="{{ asset('imagenes/pleca-azul.png') }}" class="img-responsive imagenSliderContact">
            </div>
        </div>
        {% set tituloPagina = ('menu.op4.2' | trans) %}
        {% include 'estructura/titulo.twig' %}
        <div class="row letraGrisMedio cuadroParrafo">
            <div class="col-sm-10 col-sm-offset-1">
                <h2 class="text-center espacioSubtNos">{{ 'dmc.titulo' | trans }}</h2>
                <p>{{ 'dmc.parrafo1' | trans }}</p>
                <p>{{ 'dmc.parrafo2' | trans }}</p>
                <p>{{ 'dmc.parrafo3' | trans }}</p>
            </div>
        </div>

        {% set colorRectangulo = 'fondoAzul' %}
        {% set textoRectangulo = ('dmc.subtitulo1'|trans) %}
        {% include 'estructura/rectangulo-subtitulo.twig' %}

        <div class="row filaListaNos letraGrisMedio">
            <div class="col-sm-8 col-sm-offset-2">
                <ul class="listNos">
                    {% for i in range(1,'dmc.lista1.0'|trans) %}
                        <li>
                            {{ ('dmc.lista1.'~i)|trans}}
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <div class="row fondoGrisClaro">
            <div class="col-sm-6 paddingDerCero paddingIzqCero">
                <img src="{{ asset('imagenes/dmc-image.jpg') }}" class="img-responsive">
            </div>
            <div class="col-sm-4 col-sm-offset-1 letraGrisMedio">
                <h3 class="text-center"><b>{{ 'dmc.formTitulo' | trans }}</b></h3>
                <form role="form" id="frmDmc" class="formularioContac">
                    <div class="form-group">
                        <label for="nombre"><b>{{ 'formIndex.campo1' | trans }}</b></label>
                        <input type="text" class="form-control validacontacto fondoGrisClaro" id="nombre" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="email"><b>{{ 'formIndex.campo3' | trans }}</b></label>
                        <input type="email" class="form-control fondoGrisClaro" id="correo" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="telefono"><b>{{ 'formIndex.campo2' | trans }}</b></label>
                        <input type="text" class="form-control fondoGrisClaro" id="telefono" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="telefono"><b>{{ 'formIndex.campo5' | trans }}</b></label>
                        <textarea class="form-control fondoGrisClaro" rows="3" id="comentarios" placeholder=""></textarea>
                    </div>
                    <button type="submit" id="enviarFormulario" class="btn botonEncuentralos letraBlanca center-block"><b>{{ 'formIndex.enviar' | trans }}</b></button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}