{% extends "plantilla.twig" %}
{% block titulo %} {{ 'menu2' | trans }} {%  endblock %}

{% block contenido %}
    <div class="container-fluid">
        <div class="row filaSliderContacto">
            <div class="col-sm-12 paddingIzqCero paddingDerCero">
                <img src="{{ asset('imagenes/about-us-slide.jpg') }}" class="img-responsive">
                <img src="{{ asset('imagenes/pleca-azul.png') }}" class="img-responsive imagenSliderContact">
            </div>
        </div>
        <div class="row filaLogoContact">
            <div class="col-sm-2 col-sm-offset-1">
                <img src="{{ asset('imagenes/icono-azul-cancun.png') }}" class="img-responsive">
            </div>
            <div class="col-sm-9 filaContactTitulo">
                <span class="letraTitulo">{{ 'menu2' | trans }}</span>
            </div>
        </div>
    </div>
{% endblock %}