<div class="container-fluid piePagina letraGrisClaro">
    <div class="row">
        <div class="col-sm-1 col-sm-offset-0 col-xs-3 col-xs-offset-1">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-4">
                    <img src="{{  asset('imagenes/visa-logo.png') }}" class="img-responsive center-block margenLogo1">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-4">
                    <img src="{{  asset('imagenes/master-card-logo.png') }}" class="img-responsive center-block margenLogo1">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-4">
                    <img src="{{  asset('imagenes/logo-american-express.png') }}" class="img-responsive center-block">
                </div>
            </div>
        </div>
        <div class="col-sm-2 col-sm-offset-0 col-xs-6 col-xs-offset-1 espacio-cont-logo-banco">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <img src="{{  asset('imagenes/logo-banamex.png') }}" class="img-responsive margenLogo1">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <img src="{{  asset('imagenes/santander-logo.png') }}" class="img-responsive margenLogo1">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <img src="{{  asset('imagenes/logo-bancomer.png') }}" class="img-responsive margenLogo1">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <img src="{{  asset('imagenes/logo-hsbc.png') }}" class="img-responsive margenLogo1">
                </div>
            </div>
            <div class="row">
                <div class="col-sm-8 col-sm-offset-2">
                    <img src="{{  asset('imagenes/logo-banorte.png') }}" class="img-responsive">
                </div>
            </div>
        </div>

        <div class="col-sm-7 col-xs-12 text-center textoPie letraFooter">
            <p>
                <a class="letraGrisClaro menuPien" href="{{ path('contacto') }}">{{ 'menu.op5'|trans }}</a> |
                <a class="letraGrisClaro menuPien" href="">{{ 'menu.op7'|trans }}</a> |
                <a class="letraGrisClaro menuPien" href="">{{ 'menu.op8'|trans }}</a> |
                <a class="letraGrisClaro menuPien" href="">{{ 'menu.op9'|trans }}</a>
            </p>
            <span>
                    {{ 'parrafoPie.1'|trans }}<br>
                    {{ 'parrafoPie.2'|trans }}<br>
                    {{ 'parrafoPie.3'|trans }}<br>
                    {{ 'parrafoPie.4'|trans }}
            </span>
        </div>
        <div class="col-sm-2">
            <div class="row">
                <div class="col-sm-10 col-sm-offset-1">
                    <img src="{{  asset('imagenes/logo-mexico.png') }}" class="img-responsive center-block margenLogo2">
                </div>
                <div class="col-sm-6 col-sm-offset-3">
                    <img src="{{  asset('imagenes/truste-logo.png') }}" class="img-responsive center-block">
                </div>


            </div>
        </div>
        <!--
        <div class="col-sm-3 visible-xs">
            <div class="row">
                <div class="col-sm-9 col-sm-offset-3 col-xs-8 col-xs-offset-2">
                    <img src="{{  asset('imagenes/logo-mexico.png') }}" class="img-responsive center-block margenLogo2">
                </div>
                <div class="col-sm-9 col-sm-offset-3 col-xs-12">
                    <img src="{{  asset('imagenes/truste-logo.png') }}" class="img-responsive center-block">
                </div>

                <div class="col-sm-12 col-xs-12">
                    <p class="text-center">
                        <span class=""><b>LLama sin costo</b></span><br/>
                        <a class="numTelFormat" href="tel:018002000000">01800-200-0000</a>
                    </p>
                </div>
            </div>
        </div>
        -->
    </div>
    <div class="row">
        <div class="col-sm-12">
            <p class="text-right contTel">
                <span class="textoTelPie"><b>{{ 'llamaSin'|trans }}:</b></span><br/>
                <a class="numTelFormat" href="tel:018002000000">01800-200-0000</a>
            </p>
        </div>
    </div>
</div>