{% set actIni='' %}
{% set actNos='' %}
{% set actCont='' %}
{% set actDest='' %}
{% set actServ='' %}

{% if ini is defined %}
    {% set actIni='active' %}
{% endif %}
{% if nos is defined %}
    {% set actNos='active' %}
{% endif %}
{% if cont is defined %}
    {% set actCont='active' %}
{% endif %}
{% if dest is defined %}
    {% set actDest='active' %}
{% endif %}
{% if serv is defined %}
    {% set actServ='active' %}
{% endif %}

<!-- Navigation -->
<nav id="menuPrin" class="navbar navbar-default navbar-fixed-top letraAzul letraMenu" role="navigation">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Desplegar navegación</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand page-scroll" href="{{ path('homepage') }}">
                        <img src="{{ asset('imagenes/logo-menu.png') }}">
                    </a>
                </div>
            </div>
            <div class="col-sm-8 cajaMenu">
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                        <li class="{{ actIni }}">
                            <a class="page-scroll" href="{{ path('homepage') }}">{{ 'menu.op1'|trans }}</a>
                        </li>
                        <li class="{{ actNos }}">
                            <a class="page-scroll" href="{{ path('nosotros') }}">{{ 'menu.op2'|trans }}</a>
                        </li>
                        <li class="{{ actDest }} dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">
                                {{ 'menu.op3'|trans }}
                            </a>
                            <ul class="dropdown-menu fondoAzul">
                                {% set totd = ('destinos.0') | trans %}
                                {% for i in range(1,totd) %}
                                    {% set linkd = ('destinos.'~i~'.link') | trans %}
                                    <li><a href="{{ path('destinos',{nomdest: linkd, iddestino: i}) }}">{{ ('destinos.'~i~'.nombre') | trans }}</a></li>
                                {% endfor %}

                            </ul>
                        </li>
                        <li class="{{ actServ }} dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">
                                {{ 'menu.op4.0'|trans }}
                            </a>
                            <ul class="dropdown-menu fondoAzul">
                                <li><a href="{{ path('weddings') }}">{{ 'menu.op4.1'|trans }}</a></li>
                                <li><a href="{{ path('dmc') }}">{{ 'menu.op4.2'|trans }}</a></li>
                                <li><a href="{{ path('transportation') }}">{{ 'menu.op4.3'|trans }}</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{{ path('tours') }}">{{ 'menu.op4.4'|trans }}</a></li>
                                <li><a href="{{ path('packages') }}">{{ 'menu.op4.5'|trans }}</a></li>
                            </ul>
                        </li>
                        <li class="{{ actCont }}">
                            <a class="page-scroll" href="{{ path('contacto') }}">{{ 'menu.op5'|trans }}</a>
                        </li>

                        <li class="dropdown menuOpcionIdioma">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">
                                <em>{{ 'menu.op6.0'|trans }}</em>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu fondoAzul">
                                <li><a href="#"><em>{{ 'menu.op6.1'|trans }}</em></a></li>

                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
        </div>
    </div>
    <!-- /.container -->
</nav>