<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top letraAzul letraMenu" role="navigation">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-4">
                <div class="navbar-header page-scroll">
                    <button type="button" class="navbar-toggle" data-toggle="collapse"
                            data-target=".navbar-ex1-collapse">
                        <span class="sr-only">Desplegar navegación</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand page-scroll" href="{{ path('homepage') }}">
                        <img src="{{ asset('imagenes/logo-menu.png') }}">
                    </a>
                </div>
            </div>
            <div class="col-sm-8 cajaMenu">
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse navbar-ex1-collapse">
                    <ul class="nav navbar-nav pull-right">
                        <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                        <li class="active">
                            <a class="page-scroll" href="{{ path('homepage') }}">{{ 'menu.op1'|trans }}</a>
                        </li>
                        <li>
                            <a class="page-scroll" href="{{ path('nosotros') }}">{{ 'menu.op2'|trans }}</a>
                        </li>
                        <!--<li>
                            <a class="page-scroll" href="#services">{{ 'menu3'|trans }}</a>
                        </li>-->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">
                                {{ 'menu.op3'|trans }}
                            </a>
                            <ul class="dropdown-menu fondoAzul">
                                <li><a href="{{ path('destino1') }}">Destino 1</a></li>
                                <li><a href="{{ path('destino2') }}">Destino 2</a></li>
                                <li><a href="{{ path('destino3') }}">Destino 3</a></li>

                            </ul>
                        </li>
                        <!--<li>
                            <a class="page-scroll" href="#contact">{{ 'menu4'|trans }}</a>
                        </li>-->
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">
                                {{ 'menu.op4.0'|trans }}
                            </a>
                            <ul class="dropdown-menu fondoAzul">
                                <li><a href="{{ path('weddings') }}">{{ 'menu.op4.1'|trans }}</a></li>
                                <li><a href="{{ path('dmc') }}">{{ 'menu.op4.2'|trans }}</a></li>
                                <li><a href="{{ path('transportation') }}">{{ 'menu.op4.3'|trans }}</a></li>
                                <li role="separator" class="divider"></li>
                                <li><a href="{{ path('tours') }}">{{ 'menu.op4.4'|trans }}</a></li>
                                <li><a href="{{ path('packages') }}">{{ 'menu.op4.5'|trans }}</a></li>
                            </ul>
                        </li>
                        <li>
                            <a class="page-scroll" href="{{ path('contacto') }}">{{ 'menu.op5'|trans }}</a>
                        </li>

                        <li class="dropdown menuOpcionIdioma">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button"
                               aria-haspopup="true" aria-expanded="false">
                                {{ 'menu.op6.0'|trans }}<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu fondoAzul">
                                <li><a href="#">{{ 'menu.op6.1'|trans }}</a></li>

                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
        </div>
    </div>
    <!-- /.container -->
</nav>